*.stash
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/translator.exe
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/manyafib.alu
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/code.bin
*.Debug
Translator/translator/translator.pro.user.4bc11dd
*.Release
Translator/translator/Makefile
*.txt
*.4bc11dd
stack/stack.pro.user.lz6216
*.exe
Translator/translator/debug/main.o
*.o
Translator/translator/debug/translator.exe
*.o
ALU/alu_bin/debug/main.o
*.exe
*.o
Translator/translator/debug/main.o
*.o
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/disassembled.alu
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/proga.alu
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/factorial.alu
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/fibb.alu
Translator/translator/proga.alu
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/jump.alu
stack/stack/stack.pro.user.lz6216
*.o
*.exe
ALU/alu_bin/debug/ALU.exe
*.o
Translator/translator_bin/Makefile
Translator/translator/translator.pro.user.7bfe1ae
ALU/alu_bin/debug/ALU.exe
ALU/alu_bin/Makefile
disassembler/disassembler_bin/Makefile
*.o
stack/stack_bin/Makefile
Game/SFML*
*.dll
*.layout
*.pro.use*
*.cbp
*.depend
*.cbp
*.depend
*.cbp
*.depend
*.cbp