*.stash
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/translator.exe
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/manyafib.alu
*.alu
Translator/build-translator-Desktop_Qt_5_7_0_MinGW_32bit-Debug/code.bin
*.Debug
Translator/translator/translator.pro.user.4bc11dd
*.Release
Translator/translator/Makefile
*.txt
*.4bc11dd
stack/stack.pro.user.lz6216
*.exe
Translator/translator/debug/main.o
*.o
Translator/translator/debug/translator.exe
*.o
ALU/alu_bin/debug/main.o
*.exe
*.o
Translator/translator/debug/main.o
*.o